.hero {
    height: 100vh;
    color: $color-white;
    position: relative;

    &__header {
        position: absolute;
        top: 50vh;
        transform: translateY(-50%);
        left: $page-padding-desktop;
        @include respond(tab-port) {
            & {
                left: $page-padding-mobile;
            }
        }
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0vh;
        left: 0;
        width: 100vw;
        height: 20vh;

        background-image: linear-gradient(to top, $color-dark-0 10%, rgba($color-dark-0,00) 100%);
    }
}

.about {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: -20vh;
        left: 0;
        width: 100vw;
        height: 20vh;
        background-image: linear-gradient(to bottom,  $color-dark-0 10%, rgba($color-dark-0,00) 100%);
    }
    background: $color-dark-0;
    background-size: contain;

    &__description {
        background: $color-dark-0;

        &__text {
            width: clamp(30rem, 50%, 70rem);
        }
        &__image {
            opacity: 1;
            aspect-ratio: 3/2;
            width: clamp(40rem, 40%, 80rem);
            object-fit: cover;

            @include respond(tab-port) {
                & {
                    display: none; 
                }
            }
        }
    }

    &__heading {
        margin-bottom: 5rem;
    }

    &__text {
        font-size: 2.3rem;
    }
}

.flagship {
    animation: flagship-background 10s infinite ease-in-out;
    background: url("img/123123.jpg");
    background-position: 100% 50%;
    background-attachment: fixed;
    background-color: #000000;

    z-index: 2;
    @include respond(tab-port) {
        & {
            text-align: center;
            background: $color-primary !important;
            background-attachment: local;
        }
    }

    &__text {
        @include respond(tab-port) {
            & {
                text-align: center;
            }
        }
    }
    &__image {
        @include respond(tab-port) {
            & {
                margin-top: 10rem;
            }
        }
    }

    &__btn {
        background: #000 !important;
        color: white;
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: $color-primary;
        z-index: 3;
    }
}

.social-media {
    margin-top: 2rem;
    margin-left: 0rem;
    display: flex;
    justify-content: space-around;
    width: 20rem;
    & .fa {
        font-size: 3rem;
    }
    &__item {
        &:hover {
            cursor: pointer;
        }
    }
}

.contact {
    position: relative;
    background-color: #0f0f0f;
    background-image: radial-gradient(circle at 50% 100%, $color-dark-3, $color-dark-0);
    background-size: 100%;
    background-repeat: repeat-x;
    background-position: 0 120%;
    &::after {
        content: "";
        position: absolute;
        top: -20vh;
        left: 0;
        width: 100vw;
        height: 20vh;

        background-image: linear-gradient(to top, #000000 10%, #00000000 100%);
    }
    &__container {
        padding-bottom: 10rem;
        flex-wrap: wrap;
    }

    &__right {
        @include respond(tab-port) {
            & {
                margin-top: 10rem;
            }
        }
    }

    &__label {
        font-size: 4rem;
        color: $color-white;
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 7rem;
    }

    &__heading {
        font-size: 6rem;
        margin-bottom: 1rem;
        color: white;
        text-align: left;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        padding: 5rem;
        text-align: left;
        box-shadow: 0 1.5rem 4rem rgb(0, 0, 0);
        background: radial-gradient(circle at 5% 0%, #333, #000);
        @include respond(tab-port) {
            & {
                padding: 3rem;
            }
        }
    }
    &__list {
        color: $color-white;
        font-size: $font-size-2;
        list-style-type: none;
        align-items: center;
        text-align: center;
        & > li {
            margin-top: 2rem;
            margin-left: 0rem;
        }
        @include respond(tab-port) {
            & {
                text-align: center;
            }
        }
    }
}

.write-to-us {
    background-image: linear-gradient(105deg, rgba($color-black, 0.9) 0%, rgba($color-black, 0.9) 50%, transparent 50%),
        url("img/contact-background.webp");

    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);
    height: 75rem;

    @include respond(tab-port) {
        & {
            background: #000 !important;
            width: 100%;
        }
    }

    &__form {
        width: 40%;
        padding: 6rem;
        @include respond(tab-port) {
            & {
                width: 85%;
                padding: 3rem;
            }
        }
    }
}

.email-popup {
    width: 100vw;
    height: 100vh;
    background-color: #00000099;
    position: fixed;
    top: 0;
    left: 0;

    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: 50rem;
        height: 20rem;
        padding: 2rem;
        border-radius: 2rem;
        background-image: radial-gradient(circle at 20% 20%, #202020, #000);
    }

    &__info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__success{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0); 
        transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        
        &>i {
            font-size: 10rem;
            color: $color-primary
        
        }
    }

    &__loader {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border: 5px solid #303030;
        border-top: 5px solid $color-primary;
        transform: translate(-50%, -50%) scale(1); 
        transition: all 1s ease-in-out;
        animation: spin 2s ease-in-out infinite;
    }

    &__status {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%);
        font-size: $font-size-2;
    }

    @keyframes spin {
        from {
            transform: rotate(0) scale(1);
        }
        to {
            transform: rotate(360deg) scale(1);
        }
    }
}

.hidd {
    transform: scale(0); 
    animation: none;
}
.shown{
    transform: translate(-50%, -50%) scale(1); 
}
