.europe {
    position: relative;

    &__image {
        width: 100%;
        padding: 2rem;
        display: block;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: 32%;
            left: 49%;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: $color-primary;
        }
    }
}

.arrow {
    position: absolute;
    top: 66%;
    left: 52%;
    animation-delay: 2s;
    overflow: hidden;
    height: 15%;
    z-index: 100;
    transform: scale(1.5);

    transform-origin: 0 0;
    & > svg {
        height: 100%;
        width: 100%;

        & > .st1 {
        }
    }
}
.st1 {
    fill: #ffe500;
    animation: blink 1s ease-in-out infinite;
}
.st0 {
    fill: none;
    stroke: #ffe500;
    stroke-width: 15;
    stroke-miterlimit: 10;
    stroke-dasharray: 11.9948, 9.9956;
    animation: dash-animation infinite 100s linear;
}

@keyframes dash-animation {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 10000;
    }
    
}
@keyframes blink {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
    
}


.animated > .arrow {
    animation: arrow-animation ease-in-out forwards 1.5s;
}

.arrow:nth-child(1) {
    transform: rotate(150deg) scale(1.5);
}
.arrow:nth-child(2) {
    transform: rotate(90deg);
    animation-delay: 0.5s;
}
.arrow:nth-child(3) {
    transform: rotate(-155deg), scale(1.5);
    animation-delay: 1s;
}
.arrow:nth-child(4) {
    transform: rotate(-10deg), scale(1.5);
    animation-delay: 1.5s;
}
.arrow:nth-child(5) {
    transform: rotate(130deg), scale(1.5);
    animation-delay: 2s;
}

.stats {
    max-width: 40rem;
    width: 100%;
    padding: 5rem;
}

.stat {
    &__number {
        font-size: 7rem;
        color: #aaaaaa;
    }
    &__description {
        font-size: $font-size-2;
    }
}
