.europe {
    position: relative;

    &__image {
        width: 100%;
        display: block;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: 32%;
            left: 49%;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: $color-primary;
        }
    }
}

.arrow {
    position: absolute;
    top: 69%;
    left: 59%;

    overflow: hidden;
    height: 15%;
    width: 20%;
    z-index: 100;
    transform: scale(1.5);

    transform-origin: 0 0;
    & > svg {
        height: 100%;
        width: 100%;
    }
}
.st1 {
    fill: #ffe500;
    animation: blink 1s ease-in-out infinite;
}
.st0 {
    fill: none;
    stroke: #ffe500;
    stroke-width: 15;
    stroke-miterlimit: 10;
    stroke-dasharray: 750;
    animation: dash-animation infinite 100s linear;

}

@keyframes dash-animation {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 100000;
    }
    
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
    
}


.animated > .arrow {
    animation: arrow-animation ease-in-out forwards 1.5s;
}

.arrow:nth-child(1) {
    transform: scaleY(-1) rotate(70deg) scale(1.5);
}
.arrow:nth-child(2) {
    transform: scaleY(-1) rotate(125deg) scale(0.7);
    animation-delay: 0.5s;
}
.arrow:nth-child(3) {
    transform: scaleY(-1) rotate(125deg) scale(1.8);
    animation-delay: 1s;
}
.arrow:nth-child(4) {
    transform: scaleY(-1) rotate(125deg) scale(1.15);
    animation-delay: 0.5s;
}
.arrow:nth-child(6) {
    transform: scaleY(-1) rotate(180deg) scale(1);
    animation-delay: 2s;
}

.stats {
    max-width: 40rem;
    padding: 5rem;
}

.stat {
    text-align: right;
    &__number {
        font-size: 7rem;
        color: #aaaaaa;
        text-align: right;
    }
    &__description {
        font-size: $font-size-2;
        text-align: right;
    }
}
