.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: $color-white;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rbga($color-white, 0.5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all 0.3s;

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: white;
            opacity: 0.7;
        }
        &::placeholder {
            /* Chrome/Opera/Safari */
            color: white;
            opacity: 0.7;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: white;
            opacity: 0.7;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            color: white;
            opacity: 0.7;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: white;
            opacity: 0.7;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid {
            border-bottom: 3px solid red;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $font-size-default;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -0.4rem;

        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity 0.2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}

.select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif;
    font-size: 18px;
    color: #60666d;

    @media (min-width: 768px) {
        width: 70%;
    }

    @media (min-width: 992px) {
        width: 50%;
    }

    @media (min-width: 1200px) {
        width: 30%;
    }

    &__current {
        position: relative;
        box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
        cursor: pointer;
        outline: none;

        &:focus {
            & + .select-box__list {
                opacity: 1;

                // We have to set "animation-name: none;" to make the list visible (read below how it works)

                animation-name: none;

                .select-box__option {
                    cursor: pointer;
                }
            }

            .select-box__icon {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 20px;
        opacity: 0.3;
        transition: 0.2s ease;
    }

    &__value {
        display: flex;
    }

    &__input {
        display: none;

        &:checked + .select-box__input-text {
            display: block;
        }
    }

    &__input-text {
        display: none;
        width: 100%;
        margin: 0;
        padding: 15px;
        background-color: #fff;
    }

    &__list {
        position: absolute;
        width: 100%;
        padding: 0;
        list-style: none;
        opacity: 0;

        // We need to use animation with delay.
        // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
        // This delay will not be noticed because we set "opacity" to "0".
        // We also use "animation-fill-mode: forwards" to make the list stay hidden.

        animation-name: HideList;
        animation-duration: 0.5s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: step-start;
        box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
    }

    &__option {
        display: block;
        padding: 15px;
        background-color: #fff;

        &:hover,
        &:focus {
            color: #546c84;
            background-color: #fbfbfb;
        }
    }
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}
