.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 99999;
    background-color: black;
    flex-direction: column;

    &__svg__line {
        fill: none;
        stroke: #ffe500;
        stroke-width: 1;
        stroke-dasharray: 100;
        animation: loading-animation infinite 2s linear;
    
    }
    &__text{
        color: white;
        font-size: 2rem;
        &::after{
            content: '';
           // animation: loading-text 2s infinite;
        };
    }
    &-hidden{
        transition: 1s;
        opacity: 0;
    }
}


