.slider {
    display: flex;
    padding-left: 13rem;
    padding-right: 13rem;
    padding-bottom: 0;
    overflow: hidden;
    height: 70rem;
    @include respond(tab-land) {
        & {
           height: 100vh;
           flex-direction: column;

        }
    }
    @include respond(tab-port) {
        & {
            padding: 5rem;
        }
    }

}

.slide {
    transform: skewX(-10deg);
    margin: 5px;
    cursor: pointer;
    color: #fff;
    flex: 2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
    @include respond(tab-port) {
        & {
            transform: none;
        }
    }

    &__image-container {
        height: 100%;
        overflow: hidden;
    }

    &__image {
        width: 300%;
        height: 100%;
        transform: translateX(-50%) skewX(10deg) scale(1);
        object-fit: cover;
        transition: 1s;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        @include respond(tab-port) {
            & {
                transform: none;
                width: 100%;
            }
        }
    }

    &__preview {
        position: absolute;
        top: 50%;
        left: -0%;
        transform-origin: left;
        opacity: 1;
        font-weight: 1000;
        color: #fff;
        transform: rotate(-90deg) translate(-28rem, 70%);
        font-size: 5rem;
        padding: 0;
        margin: 0;
        line-height: 10rem;
        white-space:nowrap;
        @include respond(tab-land) {
            & {
                transform: translateY(-4rem);
                
            }
        }
        @include respond(tab-port) {
            & {
                white-space:inherit;
            }
        }
    }

    &__text {
        position: absolute;
        bottom: 20px;
        left: 20px;
        margin: 0;
        opacity: 0;
        transform: translate(-10rem, 0rem) skewX(10deg);
        @include respond(tab-port) {
            & {
                transform: translateX(-50%);
            }
        }

    }

    &__btn {
        opacity: 0 !important;
        position: absolute;
        transform: translateX(-50%) !important;
        left: 50%;
        bottom: 2rem;
    } 
    @include respond(tab-land) {
        & {
           height: 10rem;
        }
    }
}

.active {
    flex: 16;
    opacity: 1 !important;


    & .slide__image {
        transform: skewX(10deg) scale(1) translateX(-10%);
        transition: 0s;
        width: 120%;
        @include respond(tab-port) {
            & {
                transform: scale(1) translateX(-10%);
            }
        }
    }
    & .slide__preview {
        opacity: 0 !important;
    }
    & .slide__text {
        opacity: 1;
        transition: transform .5s ease-in-out, opacity .5s;
        transition-delay: .2s;
        transform: translate(-10rem, -10rem) skewX(10deg);
        font-size: 5rem;
        white-space: nowrap;
        text-shadow:5px 5px 50px rgba(0, 0, 0, 0.733) ;
        @include respond(tab-port) {
            & {
                transform: translate(-6rem, -10rem);
                white-space: normal;
            }
        }
    }

    & h3 {
        line-height: 6rem;
        opacity: 1;
    }

    & .btn {
        margin-top: -10rem;
    }

    & p {
        opacity: 1;
        transition: opacity 0.3s ease-in 0.4s;
        font-size: 2rem;
    }

    & .slide__btn {
        opacity: 1 !important;
        position: absolute;
        bottom: 2rem;
        width: 20rem;
        text-align: center;
        left: 50%;
        transform: translateX(-50%) !important;
    }
}

.animation-finished .slide {
    opacity: 0.3;

    &:hover {
        opacity: 1 !important;
        transition: 1s cubic-bezier(0.68, 0.32, 1.6);
        transform: skewX(-10deg) scale(1.02) !important;
        z-index: 999;
        &:not(.active) .preview {
            transition: 0.5s ease-in-out;
            opacity: 1;
            transform: rotate(-90deg) translate(-30rem, 5rem);
        }
        @include respond(tab-port) {
            & {
                transform: scale(1.02) !important;
            }
        }
    }
}
