*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {
            @content;
        } //600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {
            @content;
        } //900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {
            @content;
        } //1200px
    }
    @if $breakpoint == big-screen {
        @media (min-width: 130em) {
            @content;
        } //1800px
    }
}

html {
    font-size: 62.5%; //1 rem - 10 px
    scroll-behavior: smooth;

    @include respond(tab-land) {
        font-size: 56.25%;
    }
    @include respond(tab-port) {
        font-size: 50%;
    }
    @include respond(big-screen) {
        font-size: 75%;
    }
}

body {
    background-color: $color-dark-2;
    overflow-x: hidden;
    width: 100vw;
}
.section {
    min-height: 65vh;
    padding: 0rem $page-padding-desktop 0rem $page-padding-desktop;
    @include respond(tab-land) {
        & {
            padding: $page-padding-tab;
        }
    }
    @include respond(tab-port) {
        & {
            padding: $page-padding-mobile;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include respond(tab-port) {
        & {
           justify-content: center;
        }
    }
}

