$color-primary: #FBDB04;
$color-primary-light: #FBDB04;
$color-primary-dark: #FBDB04;

$color-white: #f2f2f2;
$color-black: #000;
$color-dark-0: #000;
$color-dark-1: #101010;
$color-dark-2: #20201e;
$color-dark-3: rgb(32, 32, 29);

$font-size-1 : 1rem;
$font-size-default : 1.6rem;
$font-size-2 : 2rem;
$font-size-2-5 : 2.5rem;
$font-size-3 : 3rem;

$page-padding-desktop: 18rem;
$page-padding-tab: 10rem;
$page-padding-mobile: 3rem;

$grid-width : 114rem;
$gutter-vertical : 8rem;
$gutter-vertical-small : 6rem;
$gutter-horizontal : 6rem;

$font-size-default : 1.6rem;